.inputFile {
	margin: 15px 0px;
}

.colunaCodigo {
	text-align: center;
}

.colunaData {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: 
}

.iconeUsuarioTabela {
	margin-right: 15px;
}