body {
	zoom: 100%;
}

.inputFile {
	margin: 15px 0px;
}

.colunaCodigo {
	text-align: center;
}

.colunaData {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float:
}

.iconeUsuarioTabela {
	margin-right: 15px;
	z-index: 0;
}

span.ui-paginator-current {
	float: left;
	margin: 5px 20px 0px 20px;
}

label.ui-paginator-rpp-label {
	margin: 5px 20px 0px -15px;
	float: right;
}

select.ui-paginator-rpp-options {
	float: right;
	margin-top: 3px
}

button.botao {
	margin-left: 10px !important;
	margin-right: 10px !important;
	height: 32px;
}

span.ui-button-text {
	padding: 3px !important;
	height: 30px;
}