body {
	zoom: 100%;
	margin: 0;
}

div#topo {
	display: block;
	padding: 10px;
	height: 40px;
	z-index: 10;
	border-bottom: 1px solid #e5e5e5;
	background-color: #CFCFCF;
	top: 0px;
	line-height: 60px;
}

img#logo {
	width: 40px;
	height: 40px;
	float: left;
}

img#logout {
	width: 40px;
	height: 40px;
	float: right;
}

img#fotoLogin {
	width: 40px;
	height: 40px;
	float: right;
	margin-right: -10px;
	border-radius: 10px;
	border: 0px;
	background-color: #CFCFCF;
}

p#appDescricao {
	float: left;
	line-height: 10px;
	margin: 15px;
	font: normal normal 900 35px/15px "Kunstler Script", Georgia, Serif;
	color: #ffffff;
}
/*
 p#appDescricao {
	float: left;
	line-height: 10px;
	margin: 15px;
	font: normal normal 900 50px/15px "Kunstler Script", Georgia, Serif;
	color: #ffffff;
}
*/
p#nomeUsuarioLogado {
	float: right;
	line-height: 10px;
	margin: 15px;
	font: normal normal 600 12px/12px Arial, serif;
	color: #ffffff;
}

div#menu {
	float: left;
	overflow: hidden;
	width: 175px;
	display: block;
}

div#body {
	width: auto;
	overflow: hidden;
	z-index: 1;
	margin-left: 175px;
	display: block;
}

div#rodape {
	display: block;
	position: fixed;
	line-height: 27px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	border-top: 1px solid #e5e5e5;
	background-color: #f1f1f1;
	text-align: center;
}

div.painelBotoesCentralizado {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.capitalize {
	text-transform: capitalize;
}

.inputFile {
	margin: 15px 0px;
}

.colunaCodigo {
	text-align: center;
}

.colunaData {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img.iconeUsuarioTabela {
	margin-right: 15px;
	z-index: -1;
}

span.ui-paginator-current {
	float: left;
	margin: 5px 20px 0px 20px;
}

label.ui-paginator-rpp-label {
	margin: 5px 20px 0px -15px;
	float: right;
}

select.ui-paginator-rpp-options {
	float: right;
	margin-top: 3px
}

button.botao {
	height: 32px;
}

button.botaoNovo {
	float: left;
	margin-left: 0;
	margin-right: 0;
}

button.botaoSalvar {
	float: right;
}

button.botaoRemover {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

span.ui-button-text {
	padding: 3px !important;
	height: 30px;
}

div.ui-dialog-content {
	margin: auto;
}